<!DOCTYPE html>
<html ng-app="cvGBernard">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="libangular/angular-material/angular-material.css">

	<script src="libangular/angular/angular.js"></script>
	<script src="libangular/angular-route/angular-route.min.js"></script>
	<script src="libangular/angular-aria/angular-aria.min.js"></script>
	<script src="libangular/angular-animate/angular-animate.min.js"></script>
	<script src="libangular/angular-material/angular-material.min.js"></script>

	<link rel="stylesheet" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>

	<title>Gwilherm Bernard</title>
</head>
<body>
	<div ng-controller="cvCtrl" layout="column" layout-fill>
		<section layout="row">
			<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
				<div class="headSidenav">
					<div class="pictSidenav md-whiteframe-z3"></div>
					<div class="myName whiteText">Gwilherm BERNARD</div>
					<div class="myJob whiteText">Manager des SI (en préparation)</div>
				</div>
				<md-content layout-padding class="bodySidenav">
					<md-list>
						<md-list-item class="md-2-line" ng-repeat="menuItem in menuItems">
							<md-icon md-svg-icon="{{menuItem.icon}}" class="whiteText"></md-icon>
							<div class="md-list-item-text">
								<h3 ng-if="!menuItem.mail && menuItem.text" class="whiteText text-height">{{menuItem.text}}</h3>
								<h3 ng-if="menuItem.mail" class="whiteText"><a href="mailto:{{menuItem.text}}" class="whiteText">{{menuItem.text}}</a></h3>
								<p class="whiteText">{{menuItem.type}}</p>
							</div>
							<md-divider></md-divider>
						</md-list-item>
						<md-list-item class="md-2-line">
							<md-icon md-svg-icon="img/icons/ic_content_paste.svg" class="whiteText"></md-icon>
							<div class="md-list-item-text">
								<h3 class="whiteText">Compétences :</h3>
								<div class="skills whiteText" ng-repeat="skill in skills">
									<p class="whiteText">{{skill.name}}</p>
									<md-slider ng-model="skill.score" ng-disabled="true" aria-label="{{skill.name}}" class="whiteText"></md-slider>
								</div>
							</div>
						</md-list-item>
					</md-list>
					<!-- <md-list>
						<md-list-item ng-click="navigateTo(menuItem.to, $event)" ng-repeat="menuItem in menuItems">
							<md-icon md-svg-icon="{{menuItem.icon}}"></md-icon>
							<p>{{menuItem.name}}</p>
						</md-list-item>
					</ms-list> -->
				</md-content>
			</md-sidenav>

			<md-content flex>

				<md-toolbar hide-gt-md md-scroll-shrink class="md-primary md-hue-2">
					<div class="md-toolbar-tools">
						<md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">
							<md-icon md-svg-icon="img/icons/ic_menu.svg" class="whiteText"></md-icon>
						</md-button>
						<h2>
							<span class="titleToolbar whiteText">Gwilherm BERNARD</span>
						</h2>
						<!-- <span flex></span>
						 <md-button class="md-icon-button" aria-label="Favorite">
							<md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
						</md-button>
						<md-button class="md-icon-button" aria-label="More">
							<md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
						</md-button> -->
					</div>
				</md-toolbar>

				<div class="body">
					<md-card class="md-background md-hue-1">
						<md-card-content>
							<div layout="row" layout-align="start start">
								<md-icon md-svg-icon="img/icons/ic_school.svg"></md-icon>
								<h2 class="md-title card_text" flex>Formation</h2>
							</div>
							<div layout="row" layout-align="start start">
								<div>
									<md-icon md-svg-icon="img/icons/ic_school.svg" class="whiteText"></md-icon>
								</div>
								<div class="card_text" flex>
									<div layout="row" layout-sm="column">
										<div flex="50" flex-sm="100">
											<p class="card_subtitle">Exia.Cesi, Saint-Nazaire - École d'ingénieur en informatique</p>
											<p class="card_date">2011 - Aujourd'hui</p>
											<p class="card_desc">5<sup>e</sup> année du cycle ingénieur informatique Exia.CESI spécialité logicielle.</p>
										</div>
										<div class="card_logo" flex flex-sm="100">
											<img src="img/ExiaLogo.png" alt="exia-logo">
										</div>
									</div>
									<md-divider></md-divider>
									<p class="card_subtitle">Lycée du pays de Retz, Pornic - Enseignement général</p>
									<p class="card_date">2008 - 2011</p>
									<p class="card_desc">Baccalauréat Scientifique</p>	
								</div>
							</div>
						</md-card-content>
					</md-card>
					<md-card class="md-background md-hue-1">
						<md-card-content>
							<div layout="row" layout-align="start start">
								<md-icon md-svg-icon="img/icons/ic_work.svg"></md-icon>
								<h2 class="md-title card_text" flex>Expériences</h2>
							</div>
							<div layout="row" layout-align="start start">
								<div>
									<md-icon md-svg-icon="img/icons/ic_work.svg" class="whiteText"></md-icon>
								</div>
								<div class="card_text" flex>
									<div ng-repeat="employment in employments">
										<div layout="row" layout-sm="column">
											<div flex="50" flex-sm="100">
												<p class="card_subtitle">{{employment.subtitle}}</p>
												<p class="card_date">{{employment.date}}</p>
												<p class="card_desc">{{employment.desc}}</p>
											</div>
											<div class="card_logo" flex-sm="flex">
												<a href="{{employment.url}}" target="_blank"><img src="{{employment.logo}}" alt="{{employment.logo_alt}}"></a>
											</div>
										</div>
										<div ng-if="!employment.last">
											<md-divider></md-divider>
										</div>
									</div>
								</div>
							</div>
						</md-card-content>
					</md-card>
					<md-card class="md-background md-hue-1">
						<md-card-content>
							<div layout="row" layout-align="start start">
								<md-icon md-svg-icon="img/icons/ic_comment.svg"></md-icon>
								<h2 class="md-title card_text" flex>Informations complémentaires</h2>
							</div>
							<div layout="row" layout-align="start start">
								<div>
									<md-icon md-svg-icon="img/icons/ic_comment.svg" class="whiteText"></md-icon>
								</div>
								<div class="card_text" flex>
									<div layout="row" layout-sm="column">
										<div flex="50" flex-sm="100">
											<p class="card_subtitle">Français : Langue maternelle</p>
											<p class="card_subtitle">Anglais : correct (score TOEIC : 905)</p>
											<p class="card_subtitle">Espagnol : notion</p>
										</div>
									</div>
									<md-divider></md-divider>
									<div layout="row" layout-sm="column">
										<div flex="50" flex-sm="100">
											<p class="card_subtitle">Centres d'intérets :</p>
											<p class="card_desc">- Voyages</p>
											<p class="card_desc">- Karaté (ceinture noire 2ème dan)</p>
										</div>
									</div>
								</div>
							</div>
						</md-card-content>
					</md-card>
					<div class="footer"></div>
				</div>
			</md-content>
			<div ng-controller="FabCtrl as fab">
				<div class="lock-size fab" layout="row" layout-align="end end">
					<md-fab-speed-dial ng-hide="fab.hidden" class="md-scale" md-open="fab.isFabOpen" md-direction="up" ng-class="{ 'md-hover-full': fab.hover }"  ng-mouseenter="fab.isFabOpen=true" ng-mouseleave="fab.isFabOpen=false">
						<md-fab-trigger>
							<md-button aria-label="menu" class="md-fab md-warn">
								<md-icon md-svg-src="img/icons/ic_add.svg" aria-label="menu"></md-icon>
							</md-button>
						</md-fab-trigger>

						<md-fab-actions>
							<div ng-repeat="item in fab.items">
								<a ng-if="mail" href="{{item.link}}">
									<md-button aria-label="{{item.name}}" class="md-fab md-raised md-mini">
										<md-tooltip md-direction="{{item.direction}}" md-visible="tooltipVisible" md-autohide="false">
											{{item.name}}
										</md-tooltip>
										<md-icon md-svg-src="{{item.icon}}" aria-label="{{item.name}}" class="blackText"></md-icon>
									</md-button>
								</a>
								<a ng-if="!mail" href="{{item.link}}" target="_blank">
									<md-button aria-label="{{item.name}}" class="md-fab md-raised md-mini">
										<md-tooltip md-direction="{{item.direction}}" md-visible="tooltipVisible" md-autohide="false">
											{{item.name}}
										</md-tooltip>
										<md-icon md-svg-src="{{item.icon}}" aria-label="{{item.name}}" class="blackText"></md-icon>
									</md-button>
								</a>
							</div>
						</md-fab-actions>
					</md-fab-speed-dial>
				</div>
				<div class="fabTb ng-scope" ng-cloak="">
					<md-fab-toolbar class="md-left md-noop" md-open="fab.isTbOpen" count="fab.count" md-direction="left">
						<md-fab-trigger class="align-with-text ng-scope" aria-haspopup="true" aria-expanded="false">
							<md-button aria-label="menu" class="md-fab md-primary" type="button">
								<md-icon md-svg-src="img/icons/ic_email.svg"></md-icon>
							</md-button>
						</md-fab-trigger>

						<md-toolbar class="ng-scope" style="pointer-events: none;">
							<md-fab-actions class="md-toolbar-tools" aria-hidden="true">
								<md-button aria-label="comment" class="md-icon-button">
									<md-icon md-svg-src="img/icons/ic_email.svg"></md-icon>
								</md-button>
								<md-button aria-label="label" class="md-icon-button">
									<md-icon md-svg-src="img/icons/ic_email.svg"></md-icon>
								</md-button>
								<md-button aria-label="photo" class="md-icon-button">
									<md-icon md-svg-src="img/icons/ic_email.svg"></md-icon>
								</md-button>
							</md-fab-actions>
						</md-toolbar>
					</md-fab-toolbar>
				</div>
			</div>
		</section>
	</div>
</body>
</html>